* {
    text-align: center;
    font-family: Shabnam;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#div-father {
    margin-top: 90px;
}

input {
    width: 250px;
    height: 40px;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.butten {
    color: #ffffff;
    background-color: rgb(54, 138, 54);
    outline: none;
    border: none;
    height: 42px;
}

h3,
h6 {
    font-size: 15px;
}

h6 {
    margin-top: 5px;
}
